@font-face{
	font-family: 苹方-简 常规体;
	src:url('苹方-简 常规体.ttf');
}
@font-face{
	font-family: FZLTZHK;
	src:url('FZLTZHK.TTF');
}
@font-face{
	font-family: PingFang Regular;
	src:url('PingFang Regular.ttf');
}
